logic_app_templates/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "frequency": {
            "type": "string"
        },
        "interval": {
            "type": "int"
        },
        "location": {
            "type": "string"
        },
        "sites_func_get_last_fetch_time_for_each_storage_account_externalid": {
            "type": "string"
        },
        "sites_func_get_storage_list_by_subscription_externalid": {
            "type": "string"
        },
        "sites_func_get_subscription_list_externalid": {
            "type": "string"
        },
        "sites_func_send_excel_mark_delete_externalid": {
            "type": "string"
        },
        "sites_func_check_storage_externalid": {
            "type": "string"
        },
        "workflows_logic_app_name": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_logic_app_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "[parameters('frequency')]",
                                "interval": "[parameters('interval')]"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "[parameters('frequency')]",
                                "interval": "[parameters('interval')]"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Compose_to_sending-excel-by-email-and-mark-storages-for-deletion": {
                            "runAfter": {
                                "For_each_-_subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "alerts_to_excel": "@variables('alerts_to_excel')",
                                "all_storages": "@variables('all_storages')",
                                "partition_key": "@body('Parse_JSON_get-subscription-list')?['partition_key']"
                            }
                        },
                        "For_each_-_subscriptions": {
                            "foreach": "@body('Parse_JSON_get-subscription-list')?['subscriptions']",
                            "actions": {
                                "For_each_-_storages": {
                                    "foreach": "@body('Parse_JSON_get-storage-list-by-subscription')",
                                    "actions": {
                                        "Compose": {
                                            "runAfter": {
                                                "Increment_Row_key_variable": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "last_fetch_time": "@variables('temp')",
                                                "partition_key": "@body('Parse_JSON_get-subscription-list')?['partition_key']",
                                                "row_key": "@variables('Row_key')",
                                                "storage_account": {
                                                    "id": "@items('For_each_-_storages')['id']",
                                                    "name": "@items('For_each_-_storages')['name']",
                                                    "tag": "@items('For_each_-_storages')['tags']"
                                                },
                                                "subscription_id": "@items('For_each_-_subscriptions')?['subscription_id']",
                                                "subscription_name": "@items('For_each_-_subscriptions')?['subscription_name']"
                                            }
                                        },
                                        "Filter_array": {
                                            "runAfter": {},
                                            "type": "Query",
                                            "inputs": {
                                                "from": "@body('Parse_JSON_get-last-fetch-time')",
                                                "where": "@equals(item()['storage_name'], items('For_each_-_storages')['name'])"
                                            }
                                        },
                                        "For_each": {
                                            "foreach": "@body('Filter_array')",
                                            "actions": {
                                                "Set_variable_temp=time": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "temp",
                                                        "value": "@items('For_each')?['time']"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "Filter_array": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "For_each_checking": {
                                            "foreach": "@body('Parse_JSON_test_storages')?['value']",
                                            "actions": {
                                                "Condition_storage_name_is_not_equal_to_null": {
                                                    "actions": {
                                                        "Append_to_all_storages_array_": {
                                                            "runAfter": {},
                                                            "type": "AppendToArrayVariable",
                                                            "inputs": {
                                                                "name": "all_storages",
                                                                "value": " @{items('For_each_checking')?['storage_account']}"
                                                            }
                                                        },
                                                        "Condition_-_contains_alert_result": {
                                                            "actions": {
                                                                "Append_to_array_variable": {
                                                                    "runAfter": {},
                                                                    "type": "AppendToArrayVariable",
                                                                    "inputs": {
                                                                        "name": "alerts_to_excel",
                                                                        "value": "@items('For_each_checking')"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "Append_to_all_storages_array_": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "not": {
                                                                            "equals": [
                                                                                "@items('For_each_checking')?['alert_body']",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            "type": "If"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "not": {
                                                                    "equals": [
                                                                        "@items('For_each_checking')?['storage_account']",
                                                                        "null"
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_JSON_test_storages": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "HttpTrigger_test_storages": {
                                            "runAfter": {
                                                "Compose": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@outputs('Compose')",
                                                "function": {
                                                    "id": "[concat(parameters('sites_func_check_storage_externalid'), '/functions/HttpTrigger1')]"
                                                }
                                            },
                                            "operationOptions": "DisableAsyncPattern",
                                            "runtimeConfiguration": {
                                                "paginationPolicy": {
                                                    "minimumItemCount": 5000
                                                }
                                            }
                                        },
                                        "Increment_Row_key_variable": {
                                            "runAfter": {
                                                "For_each": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                                "name": "Row_key",
                                                "value": 1
                                            }
                                        },
                                        "Parse_JSON_test_storages": {
                                            "runAfter": {
                                                "HttpTrigger_test_storages": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HttpTrigger_test_storages')",
                                                "schema": {
                                                    "properties": {
                                                        "nextLink": {},
                                                        "value": {
                                                            "items": {
                                                                "properties": {
                                                                    "alert_body": {
                                                                        "type": "string"
                                                                    },
                                                                    "storage_account": {
                                                                        "type": "string"
                                                                    },
                                                                    "subscription_manager_email": {
                                                                        "type": "string"
                                                                    },
                                                                    "subscription_name": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "storage_account"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_get-storage-list-by-subscription": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "HttpTrigger_get-storage-list-by-subscription": {
                                    "runAfter": {},
                                    "type": "Function",
                                    "inputs": {
                                        "body": "@items('For_each_-_subscriptions')",
                                        "function": {
                                            "id": "[concat(parameters('sites_func_get_storage_list_by_subscription_externalid'), '/functions/HttpTrigger1')]"
                                        }
                                    },
                                    "operationOptions": "DisableAsyncPattern"
                                },
                                "Parse_JSON_get-storage-list-by-subscription": {
                                    "runAfter": {
                                        "HttpTrigger_get-storage-list-by-subscription": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HttpTrigger_get-storage-list-by-subscription')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "id",
                                                    "tags"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_get-subscription-list": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "HttpTrigger_get-last-fetch-time": {
                            "runAfter": {
                                "Initialize_variable_alert_to_excel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "function": {
                                    "id": "[concat(parameters('sites_func_get_last_fetch_time_for_each_storage_account_externalid'), '/functions/HttpTrigger1')]"
                                }
                            }
                        },
                        "HttpTrigger_get-subscription-list": {
                            "runAfter": {
                                "Parse_JSON_get-last-fetch-time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "function": {
                                    "id": "[concat(parameters('sites_func_get_subscription_list_externalid'), '/functions/HttpTrigger1')]"
                                }
                            }
                        },
                        "HttpTrigger_sending-excel-by-email-and-mark-storages-for-deletion": {
                            "runAfter": {
                                "Compose_to_sending-excel-by-email-and-mark-storages-for-deletion": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": "@outputs('Compose_to_sending-excel-by-email-and-mark-storages-for-deletion')",
                                "function": {
                                    "id": "[concat(parameters('sites_func_send_excel_mark_delete_externalid'), '/functions/HttpTrigger1')]"
                                }
                            }
                        },
                        "Initialize_all_storages": {
                            "runAfter": {
                                "Initialize_temp": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "all_storages",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_row_key": {
                            "runAfter": {
                                "Initialize_all_storages": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Row_key",
                                        "type": "integer",
                                        "value": -1
                                    }
                                ]
                            }
                        },
                        "Initialize_temp": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "temp",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_alert_to_excel": {
                            "runAfter": {
                                "Initialize_row_key": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "alerts_to_excel",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_get-last-fetch-time": {
                            "runAfter": {
                                "HttpTrigger_get-last-fetch-time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HttpTrigger_get-last-fetch-time')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "storage_name": {
                                                "type": "string"
                                            },
                                            "time": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "storage_name",
                                            "time"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Parse_JSON_get-subscription-list": {
                            "runAfter": {
                                "HttpTrigger_get-subscription-list": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HttpTrigger_get-subscription-list')",
                                "schema": {
                                    "properties": {
                                        "partition_key": {
                                            "type": "string"
                                        },
                                        "subscriptions": {
                                            "items": {
                                                "properties": {
                                                    "subscription_id": {
                                                        "type": "string"
                                                    },
                                                    "subscription_name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "subscription_id",
                                                    "subscription_name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}